<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<label for="sidebar-checkbox" class="sidebar-toggle">
  <i class="icn_hamburger"></i>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 16 16" preserveAspectRatio="none">
  <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle></svg>
</label>
<i class="btm_border"></i>

<nav class="sidebar-nav">
  <a class="sidebar-nav-item nav-tags" href="/tags/" title="tags"><i class="fa fa-tags"></i></a>
  <a class="sidebar-nav-item nav-arch" href="/archive/" title="archives"><i class="fa fa-archive"></i></a>
</nav>
<div class="nav-top"><a href="#"><i class="fa fa-arrow-circle-o-up"></i></a></div>